*{
    margin: 0;
    padding: 0;
}

/* h1{
    font-size: 50px;
    line-height: 56px;
} */
.p1{
   margin-bottom: 4rem !important;
   margin-right: 20rem; 
   margin-top: 3rem;
   text-align: justify;
}
.head1{
    margin-right: 13rem;
    text-align: justify;

}
.p2{
   margin-bottom: 2rem !important;
   margin-right: 20rem; 
   margin-top: 3rem;
   text-align: justify;
}
.head2{
    margin-right: 14rem;
    text-align: justify;

}
#btnsubmit{
    background-color: #5e068a;
    color: aliceblue;
    width: 133px;
    margin-right: 236px;
    height: 38px
}
#modal1{
    padding: 0 50px;
}
input{
    width: 90%;
    border: none;
    outline: none;
}
textarea{
    width: 90%;
    border: none;
    outline: none;
}

select{
    width: 90%;
    border: none;
    outline: none;
}
.viewbtn{
    width: 189px;
    height: 52px;
    background-color: #5e068a;
    margin-right: 797px;
    border-radius: 87px;
    color: white;
    outline: none;
    border: none;
}
.navtop{
    width: 100%;
    height: 30px;
    background-color: #5e068a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
    padding: 1rem 0;

}
.navtop p{
    margin-bottom: 0;
}

.about{
    width: 100%;
    display: flex;
    justify-content: center;
}
.about-button{
    width: 189px;
    height: 52px;
    background-color: #5e068a;
    margin-right: 797px;
    border-radius: 87px;
    color: white;
    outline: none;
    border: none;
}

.Cources{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.c-head{
    color: #5e068a;
}
.course{
    width: 87%;
    margin-top: 2rem;
    
}
.box{
    margin-top: 6rem;
   
}.btn-box{
    background-color: #5e068a;
    color: white;
    border: none;
    outline: none;
    width: 8rem;
    height: 2rem;
}
.boxbtnd-view{
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boxbtn-view{
    width: 14rem;
    height: 4rem;
    border: #5e068a 2px solid;
    color:#5e068a;
    background-color:white;
    border-radius: 2rem;
}
.course:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translate(0, -10px);
    transition: 0.3s;
}
.card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: translate(0, -10px);
    transition: 0.3s;
}
.boxbtn-view:hover{
    background-color: #5e068a;
    color: white;
    transition: 0.7s;
    
}





@media(max-width:768px){
   .card-3{
    display: none;
   }
}

